.container {
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
}

.title {
  &-edit,
  &-show {
    display: flex;
    align-items: center;
  }

  &-show {
    text-align: center;
    h2 {
      padding: 5px;
    }
  }

  &-edit {
    justify-content: center;

    &-input {
      padding: 5px;
      width: 100%;
      font-size: 32px;
    }
  }
}

.countdown {
  display: flex;
  justify-content: center;
}
