.datetime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;

  &-label {
    text-align: center;
    margin-bottom: 5px;
  }

  &-input {
    width: 60%;
    padding: 5px;
    font-size: 32px;

    &-safari {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 10px;

      input {
        font-family: system-ui;
        font-size: 24px;
      }
    }
  }
}
