.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 20px;

  &-field {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &.row {
      flex-direction: row;
      align-items: center;
    }
  }

  &-input {
    flex: 1;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
  }

  &-hide-title {
    display: flex;
    align-items: center;
    position: relative;
    width: 0;
    height: 0;
    appearance: none;
    cursor: pointer;

    &::before {
      position: absolute;
      content: '';
      width: 30px;
      height: 16px;
      border: 2px solid #000000;
      border-radius: 10px;
    }

    &::after {
      position: absolute;
      left: 3px;
      content: '';
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: #000000;
      transition: transform 0.2s;
    }

    &:checked::after {
      transform: translateX(14px);
    }
  }


  &-controls {
    display: flex;
    justify-content: space-between;

    &-button {
      padding: 5px;
      background-color: #CCCCCC;
      border: 1px solid #000000;
      border-radius: 5px;
      transition: box-shadow 0.2s;

      &:not(:disabled):hover {
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
      }
    }
  }
}
