:host {
  display: flex;
  justify-content: center;
}

.container {
  gap: 10px;
}

.color {
  position: absolute;
  display: flex;
  align-items: center;
  top: 55px;
  transform: translateX(300%);
  transition: transform .4s;

  &.show {
    transform: translateX(0);
  }

  &-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 48px;
  }
}
